h1 {
    text-align: center;
  }
  hr {
    margin-bottom: 20px;
  }
  .line1 {
    border-right: 2px solid;
    border-left: 2px solid;
    width: 700px;
    height: 900px;
    margin: 20px auto;
    padding: 0 7px;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
  }
  p {
    margin-left: -320px;
    margin-top: -490px;
  }
  .pro {
    margin-left: 100px;
  }